body {
  font-family: Roboto;
  background: #8e0e00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e0e00, #1f1c18);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e0e00, #1f1c18);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

/* bài tập 01 */

h1 {
  background: #1f030c;
  color: white;
  margin: 0;
  padding: 10px 100px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

p {
  padding-left: 20px;
}

form input {
  width: 90px;
}

input {
  padding-left: 20px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #ad133a;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}

button:hover {
  background: #4c2827;
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 1px;
}

#totalSalary {
  font-size: 20px;
  top: -18px;
  padding-left: 150px;
}
